</div>
<div class="push"></div>
</div>
<div id="footer">
        <p>Copyright &copy; Keerthi Chiduruppa<br/><a href="contact.html">contact</a></p>
        
      </div>
      <script src="https://code.jquery.com/qunit/qunit-2.4.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>