<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="guestbook.css">
</head>
<body >
        <h1>Profile</h1>
        <h3>Keerthi Chiduruppa</h3>
        <ul >
                <li><a href="index.html">Keerthi A03</a></li>
              <li><a href="index">About</a></li>
              <li><a href="fees">Fees Converter</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="guestbook">My Guestbook</a></li>
              <li style="float:right"><a class="active" href="account">Account</a></li>
            </ul>
<h1>
Keerthi's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
